$white: #fff;
$black: #000; 
$yellow: #ecc02d;

$sprite01: url('../ico/sprite_01.png');

@import "gui/fonts";
@import "gui/mixin";
@import "gui/normalize";
@import "gui/animate";
@import "gui/gui";
@import "gui/easing";
@import "gui/pace";

@import "popup_logo";
@import "screen_01";
@import "screen_02";
@import "screen_03";
@import "jqueryfullPage";
@import "slick";

.b-header{
	position: fixed;
	height: 1px;
	width: 100%;
	top: 0px;
	z-index: 10;
}