$white: #fff;
$black: #000; 
$yellow: #ecc02d;

$brd1: 1px solid $white;

$sprite01: url('../ico/sprite_01.png');

@import "gui/fonts";
@import "gui/mixin";
@import "gui/normalize";
@import "gui/animate";
@import "gui/easing";
@import "gui/gui";
@import "gui/pace";

@import "sprite";
@import "popup_logo";
@import "screen_01";
@import "screen_02";
@import "screen_03";
@import "jqueryfullPage";
@import "slick";
@import "about";

@import "gui/media_other";


@media (max-width:1000px) and(min-width:768px){
	@import "media_768/screen_02_768";
}

@media (max-width:767px) {
	@import "media_320/gui/gui_320";
	@import "media_320/popup_logo_320";
	@import "media_320/screen_01_320";
	@import "media_320/screen_02_320";
}

#wrapper{
	overflow: hidden;
}
.fullpage-wrapper{
	z-index: 100;
}
.b-header{
	position: fixed;
	height: 1px;
	width: 100%;
	top: 0px;
	z-index: 300;
}