.b-promo__contacts {
		.l-sub-title{
			font-size: 20px;
			letter-spacing: 5px;
			word-spacing: -3px;
			margin-bottom: 12px;
		}
	.l-phone{
		font-size: 54px;
		letter-spacing: 5px;
		word-spacing: -4px;
		margin-bottom: 12px;
	}
	.l-mail{
		margin-bottom: 32px;
		a{
			font-size: 36px;
			line-height: 22px; 
			letter-spacing: 3.5px;
		}
	}
}

.b-contacts__popup{
	padding: 34px 20px;
	width: 100%;
	.b-form-call{
		min-width: 294px;
		width: 100%;
		max-width: 536px;
		margin: 0px auto;
	}
}
.b-form__file-title{
	font-size: 15px;
}
.interact-bg{
	width: 150%;
	height: 110%;
}