.b-header__title{
	.title_middle{
		font-size: 1em;
		letter-spacing: 0.1875em;
		word-spacing: 1px;
		margin-bottom: 16px;
	}
	.title_big{
		font-size: 1.875em;
		line-height: 1.1333333333333333em;
		margin-bottom: 20px;
	}
	.title_min{
		font-size: 16px;
		letter-spacing: 3px;
		word-spacing: 1px;
	}
}
.b-promo__col{
	width: 100%;
}