@-webkit-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@-o-keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}
@keyframes fadeinout {
  0%   { opacity: 0; }
  50%   { opacity: 0.5; }
  100% { opacity: 0; }
}