@font-face {
    font-family: 'bebas_neuebold';
    src: url('../../fonts/bebasneue_bold.eot');
    src: url('../../fonts/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebasneue_bold.woff') format('woff'),
         url('../../fonts/bebasneue_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../../fonts/bebasneue_regular.eot');
    src: url('../../fonts/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebasneue_regular.woff') format('woff'),
         url('../../fonts/bebasneue_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bebasRegular: 'bebas_neue_regularregular', sans-serif;
$bebasBold: 'bebas_neuebold', sans-serif;