body{
	font-size: 16px;
  font-family: $bebasBold;
}
p{
  padding: 0;
  margin: 0;
}

.cols {
  position: relative;
  font-size: 0;
  line-height: 0;
}
.col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.col__25{
  width: 25%;
}
.col__33{
  width: 33.3%;
}
.col__50{
	width: 50%;
}
.col__75{
  width: 75%;
}


/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
  *zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
  content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
  clear: both;
}
/* /Clearfix */

.fl{
  float: left;
}
.fr{
  float: right;
}
