::-moz-selection { background: $yellow; color: $black; text-shadow: none; }
::selection { background: $yellow; color: $black; text-shadow: none; }

::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-thumb{
  background-color: rgb(236, 192, 45);
}

::-webkit-input-placeholder {color:$white;}
::-moz-placeholder          {color:$white;}/* Firefox 19+ */
:-moz-placeholder           {color:$white;}/* Firefox 18- */
:-ms-input-placeholder      {color:$white;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
	font-size: 16px;
  font-family: $bebasRegular;
}
a{text-decoration: none;color: $white;}

.cols {
  position: relative;
  @include clearfix();
}
.col--25,
.col--33,
.col--50{  
  float: left;
}
.col--25{
  width: 25%;
}
.col--33{
  width: 33.3%;
}
.col--50{
	width: 50%;
}


/* Clearfix */
.clearfix, {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ''; display: table;
}
.clearfix:after{
  clear: both;
}
/* /Clearfix */

.fl{
  float: left;
}
.fr{
  float: right;
}


.lnk_brd.white{
  border-bottom: 2px solid #fff;
  border-bottom: 2px solid rgb(255,255,255);
  @include transition(border-botom .25s);
  &:hover{
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    
  }
  &:focus{
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid rgba(255,255,255,0);
  }
}

.b-btn{
  display: inline-block;
  padding: 12px 34px 11px;
  border: none; 
  outline: none;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'bebas_neue_regularregular', sans-serif;
  @include transition(background-color .5s ease(out-expo));
  .l-text{
    vertical-align: middle;
  }
  &.b-btn_brd{
    color: $white;
    border: $brd1;
    background-color: transparent;
    &:hover,
    &:focus{
      color: $black;
      background-color: $white;
    }
  }
}