::-moz-selection { background: $yellow; color: $black; text-shadow: none; }
::selection { background: $yellow; color: $black; text-shadow: none; }

::-webkit-scrollbar { width: 12px;}
::-webkit-scrollbar-thumb{
  background-color: rgb(236, 192, 45);
}

::-webkit-input-placeholder {color:$white;}
::-moz-placeholder          {color:$white;}/* Firefox 19+ */
:-moz-placeholder           {color:$white;}/* Firefox 18- */
:-ms-input-placeholder      {color:$white;}

body{
	font-size: 16px;
  font-family: $bebasRegular;
}
p,h1,h2,h3,h4,h5,h6,ul,li{
  padding: 0;
  margin: 0;
}
a{text-decoration: none;color: $white;}

.cols {
  position: relative;
  @include clearfix();
}
.col--25,
.col--33,
.col--50{  
  float: left;
}
.col--25{
  width: 25%;
}
.col--33{
  width: 33.3%;
}
.col--50{
	width: 50%;
}


/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
  *zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
  content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
  clear: both;
}
/* /Clearfix */

.fl{
  float: left;
}
.fr{
  float: right;
}


.lnk_brd.white{
  border-bottom: 2px solid #fff;
  border-bottom: 2px solid rgb(255,255,255);
  @include transition(border-botom .25s);
  &:hover{
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid rgba(255,255,255,0.6);
    
  }
  &:focus{
    border-bottom: 2px solid transparent;
    border-bottom: 2px solid rgba(255,255,255,0);
  }
}